# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment files
.env

# Package manager files
package-lock.json

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-workspace

# Temporary files
*.tmp
*.bak
*.swp
